.profile-card {
  height: 600px;
  width:  500px;
  background-color: hsla(0, 0, 100%, .5);
  border-radius: 2px;
  margin: 0 auto;
  
  
  
  text-align: center;
  
  
  
}
.profile-image {
  height: 30%;
  width: 100%;
  border-bottom: 1px solid black;
  
} 
img {
  height: 100%;
  width: 55%;
  border-radius: 50%;
  padding: 1px;
  background-color: #666;
  transition: all 0.5s ease-in-out;
  filter: grayscale(50%);
  
}
.content {
  height: 70%;
  width: 100%;
}
body {
  background: url('assets/poza-fundal.jfif') no-repeat center center fixed;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}
img:hover {
  transform: scale(1.1);
  filter: grayscale(20%);
}
ul {
  list-style-type: none;
}
li {
  display: inline;
}
p {
  font-size: 20px;
}
















